body{
    background: url("../assets/log-in.gif")no-repeat;
    margin: 0;
    padding: 0;
    background-position-x: 50%;
    background-position-y: 260px;
    text-align: center;
 

}


#h11{
    float: right;
}
#h1d{
    display: inline;
}
.films{
    display: inline;
}
.fi{
    float: 20px;
}
.firstfilm {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(50, 50, 184);
    margin-right: 7px;
    margin-top: 20px;
}

#rb {
     padding: 15px;
     border: 1px solid;
     border-radius: 25px;
     background-color: dodgerblue;
}