body{
<<<<<<< HEAD
    background: url("file:///C:/Users/henio/OneDrive/Desktop/duo project/K-O-FinalP/assets/log-in.gif")no-repeat;
    margin: 0;
    padding: 0;
=======
    background: url("file:///C:/Users/rabek/Desktop/K-O-FinalP/assets/log-in.gif")no-repeat;
>>>>>>> 0859d2933348a910c735f4231d471494ec8681c8
    background-position-x: 50%;
    background-position-y: 260px;
    text-align: center;
 

}
<<<<<<< HEAD


=======
#h11{
    float: right;
}
#h1d{
    display: inline;
}
#h12{
    padding:20%;
    color: whitesmoke;
}
>>>>>>> 0859d2933348a910c735f4231d471494ec8681c8
.films{
    display: inline;
}
.fi{
    float: 20px;
}
.firstfilm {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(50, 50, 184);
    margin-right: 100px;
    margin-top: 20px;
}
