body {
	margin: 0;
	padding: 0;
	background-color: #FFF8DC;
	
	text-align: center;
}

form{
	width: 300px
    border: 1px solid;
	background: #fff;
	padding: 20px;
	margin: 8% auto;
	display: inline-block;
	background-color: #FFF8DC;
	border-radius: 25px;
	
}

form #userN {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form #pass {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form #age {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form .email {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form #SI {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form #SU {
     padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}

form #signUp {
	 padding: 10px;
	 border: 1px solid;
	 border-radius: 25px;
}